<div class="class form-group">
    <label for="">Formulario de Registro</label>
    <small id="error"></small>
</div>
<form class="container-fluid">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingresa tu Nombre">
    </div>
    <div class="form-group">
        <label for="lastnameM">Apellido Materno</label>
        <input type="text" class="form-control" id="lastnameM" placeholder="Ingresa tu Materno">
    </div>
    <div class="form-group">
        <label for="lastnameP">Apellido Paterno</label>
        <input type="text" class="form-control" id="lastnameP" placeholder="Ingresa tu Paterno">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu email">
        <small id="emailHelp" class="form-text text-muted">No compartiremos tu e-mail con nadie</small>
    </div>
    <div class="form-group">
        <label for="phone">Telefono</label>
        <input type="number" min="0" class="form-control" id="phone" placeholder="Ingresa tu telefono">
    </div>
    <div class="form-group">
        <label for="school">Instituto</label>
        <input type="text" class="form-control" id="school" placeholder="Ingresa tu instituto">
    </div>
    <div class="form-group">
        <label for="age">Edad</label>
        <input type="number" min="0" max="100" maxlength="3" step="1" class="form-control" id="age" placeholder="Ingresa tu edad">
    </div>
    <div class="form-group">
        <label for="genere">Genero</label>
        <select class="form-control" name="genere" id="genere">
            <option *ngFor="let gen of genere" value="{{gen.value}}" >{{gen.label}} </option>
        </select>
    </div>
    <div class="form-group">
        <label for="tshirt_size">Talla de playera</label>
        <select class="form-control" name="talla_playera" id="talla_playera">
            <option *ngFor="let size of tshirt_size" value="{{size.value}}" >{{size.label}} </option>
        </select>
    </div>
    <div class="form-group">
        <label for="city">Procedencia</label>
        <select class="form-control" name="state" id="state">
            <option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</option>
        </select>
        <select class="form-control" name="city" id="city">
            <option *ngFor="let city of states[0].municipios" value="{{city.name}}" selected>
                {{city.name}}   
            </option>
            </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>